<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  Provide your Logseq template for a bookmark here. You can use the placeholders {{title}}, {{description}}, {{url}} and
  {{tags}}.

  <form>
    <p>
      <textarea id="option-logseqTemplate" rows="6" cols="50"></textarea>
    </p>
    The following tags were learned through the way of using this addon and taging websites.
    <p>
      <textarea id="option-learnedTags" rows="6" cols="50"></textarea>
    </p>
    <button type="submit">Save</button>
  </form>
  <script src="../defaults.js"></script>
  <script src="script.js"></script>
</body>

</html>